{% extends 'blog/base.html' %}

{% block content %}
  <h2>Blog Posts</h2>
  <a href="{% url 'post-create' %}" class="btn btn-primary">Create New Post</a>
  <ul class="list-group mt-4">
    {% for post in posts %}
      <li class="list-group-item">
        <h4><a href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h4>
        <p>{{ post.content|truncatewords:20 }}</p>
        <small>By {{ post.author }} | {{ post.created_at|date:"F j, Y" }}</small>
      </li>
    {% empty %}
      <li class="list-group-item">No posts found.</li>
    {% endfor %}
  </ul>
{% endblock %}
